data/*

# pycache
api/__pycache__
__pycache__

# unused source data
recs-app/public/*50.json
recs-app/public/*500*.json
recs-app/public/*250.json
# recs-app/public/1000.json
recs-app/public/*archive.json

# images
recs-app/public/*.jpg
recs-app/public/*.png
recs-app/public/*.ico
node_modules
.eslintrc.json

# next, npm artifacts
recs-app/package-lock.json

# api virtual env
api_env

# archived scripts no longer used
tests/scripts/*.py

# api secrets
*secret*

# artifacts of making posters
*.jpg
*.json


.python_packages