recs-app/package-lock.json
data/*
api/__pycache__
recs-app/public/*.ico
recs-app/public/*50.json
recs-app/public/*250.json
recs-app/public/*archive.json
recs-app/public/*.jpg
__pycache__
node_modules
.eslintrc.json

# api virtual env
api_env/Include
api_env/Lib
api_env/Scripts
