.movieContainer {
  background-color: black;
  color: white;
  margin: 0.25rem;
  transition: max-height 0.3s ease-out;
  text-align: center;
  flex-basis: calc(20% - 10px);
  height: 256px;
  width: 256px;
}
@media only screen and (max-width: 767px) {
  .movieContainer {
    flex-basis: calc(33.33% - 10px);
    height: 128px;
    width: 128px;
    /* max-height: calc(25vh); */
  }
}
@media only screen and (min-width: 767px) {
  .movieContainer {
    flex-basis: calc(20% - 10px);
    /* max-height: calc(50vh); */
  }
}

.imageContainer .overlay {
  display: flex;
  flex-direction: column;
}

/* UNCOMMENT TO RESTORE OVERLAY ON HOVER BEHAVIOR */
/* .imageContainer:hover .overlay,
.imageContainer:active .overlay {
  display: flex;
  flex-direction: column;
} */

.movieImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 512px;
  max-height: 512px;
}

.movieContainerTitle {
  font-size: clamp(12px, 2vw, 3rem);
  padding: 0.5rem;
}
.movieContainerGenres {
  font-size: clamp(0.25rem, 1vw, 3rem);
}
@media only screen and (max-width: 767px) {
  .movieContainerTitle,
  .movieContainerGenres {
    padding: 0.15rem;
    user-select: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1.2rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.closed {
  animation: close-movie 0.2s ease-in-out forwards;
}

@keyframes close-movie {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 767px) {
  .movieCount {
    margin-bottom: 2rem;
    font-size: 0.8rem;
  }

}